{% block about %}
    <section class="container-fluid about flex flex-center full-screen">
        <div class="container container-sm">
            <div class="row about-body flex-center">
                <h1 class="focus-color bold big">Hello!</h1>
                <p> My name is Rok Zabukovec and I'm currently attending my last year of Computer Science and web tehnology
                    studies at the Faculty of information studies in Novo mesto. I'm passionate about web development and
                    everyday I make sure I learn something new, so I can bring your company value.
	                In my recent projects I used: <br>
	                <div class="pill-group">
			            <div class="pill">HTML/CSS</div>
			            <div class="pill">JAVASCRIPT</div>
			            <div class="pill">OBJECT-ORIENTED PHP</div>
			            <div class="pill">FRAMEWORK LARAVEL</div>
			            <div class="pill">DOCKER</div>
			            <div class="pill">MYSQL</div>
			            <div class="pill">WORDPRESS</div>
			            <div class="pill">SASS</div>
			            <div class="pill">PYTHON</div>
			            <div class="pill">DJANGO</div>
			        </div>
                </p>
            </div>
        </div>

    </section>
{% endblock %}