{% block footer %}
    <section class="footer full-screen flex flex-column flex-center light-bg">
        <h2 class="bold big dark-blue bold">Contact.</h2>
        <ul class="flex social-icons">
            <li><a href="https://instagram.com/_urban_exploration_/"><i class="fab fa-instagram focus-color"></i></a></li>
            <li><a href="https://www.facebook.com/rok.zabukovec"><i class="fab fa-facebook-f focus-color"></i></a></li>
            <li><a href="https://www.linkedin.com/in/rok-zabukovec-14bb818a/"><i class="fab fa-linkedin-in focus-color"></i></a>
            </li>
            <li><a href="https://github.com/RokZabukovec"><i class="fab fa-github focus-color"></i></a></li>
        </ul>
        <ul class="align-center">
	        <li><span class="bold">Phone:</span> 040-262-866</li>
	        <li><span class="bold">Email:</span> rok.zabukovec.it@gmail.com</li>
            <li><span class="bold">Github:</span> <a href="https://github.com/RokZabukovec">https://github.com/RokZabukovec</a></li>
        </ul>
    </section>
{% endblock %}